h1 {
	font-family: 'Poiret One', cursive;
	color: #eaeaea;
	font-size: 11rem;
	opacity: 0.9;
}

.nameSmall {
	animation: nameShrink 0.75s 1;
	animation-fill-mode: forwards;
}

@keyframes nameShrink {
  0% {
    font-size: 11rem;
  }
  100% {
    font-size: 5rem;
  }
}
